
.jumbotron {
  background-image: url('/assets/images/labo-overlay.jpg');
  background-size: 100% auto;
  color: #231f20;
  padding: 2rem 1rem;
}

.jumbotron h1 {
  margin: 25px 0;
  color: #fff;
}

.jumbotron .lead {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.4;
  color: #fff;
}

.jumbotron .logo-canpath img {
  z-index: 500;
  position: absolute;
  width: auto;
  height: 100px;
}

/*
 * Content
 */

.card-primary.card-outline {
  border-top-color: #17a2b8;
}

#harmonization-studies-callout,
#data-access-process-callout,
#projects-page .callout {
  display: none;
}

#studies-card, #individual-studies-card, #harmonization-studies-card, #projects-card {
  box-shadow: none;
  margin-top: 2em;
}

#studies-app a, #studies-app a:hover {
  text-decoration: none;
}

#studies-card.card-info.card-outline,
#individual-studies-card.card-info.card-outline,
#harmonization-studies-card.card-info.card-outline,
#projects-card.card-info.card-outline {
  border-top: 0;
}

#studies-card .card-title,
#individual-studies-card .card-title,
#harmonization-studies-card .card-title,
#projects-card .card-title {
  display: none;
}

#projects-card .card-body {
  padding: 0;
}

#studies-card .card-header,
#individual-studies-card .card-header,
#harmonization-studies-card .card-header,
#projects-card .card-header {
  border-bottom: 0;
}

#individual-study-page .content-header h1 .text-white-50, #individual-study-page .content-header small,
#harmonization-study-page .content-header h1 .text-white-50, #harmonization-study-page .content-header small,
#harmonized-dataset-page .content-header h1 .text-white-50, #harmonized-dataset-page .content-header small,
#dataset-crosstab-page .content-header h1 .text-white-50,
#list-page .content-header h1 .text-white-50,
#project-page .content-header h1 .text-white-50, #project-page .content-header small,
#dataschema-variable-page .content-header h1 .text-white-50, #variable-page .content-header small,
#harmonized-variable-page .content-header h1 .text-white-50, #variable-page .content-header small {
  display: none;
}

#individual-study-page .info-box {
  display: none;
}

#list-page .content-header h1 {
  margin-top: 0.2em !important;
}

#sum, #sum-of-squares {
  display: none;
}

/*
 * Data Access
 */

#data-access-page .content-header h1,
#data-access-amendment-form-page .content-header h1,
#data-access-form-page .content-header h1,
#data-access-feasibility-page .content-header h1,
#data-access-documents-page .content-header h1,
#data-access-comments-page .content-header h1,
#data-access-history-page .content-header h1,
#data-access-private-comments-page .content-header h1 {
  margin-top: 0.2em !important;
}

#data-access-page .content-header h1 .text-white-50,
#data-access-amendment-form-page .content-header h1 .text-white-50,
#data-access-form-page .content-header h1 .text-white-50,
#data-access-feasibility-page .content-header h1 .text-white-50,
#data-access-documents-page .content-header h1 .text-white-50,
#data-access-comments-page .content-header h1 .text-white-50,
#data-access-history-page .content-header h1 .text-white-50,
#data-access-private-comments-page .content-header h1 .text-white-50 {
  color: #6c757d !important;
}

/*
 * Search
 */

#search-page .content-header h1 {
  margin-top: 0 !important;
}

#search-page [class*=sidebar-dark-] {
  background-color: #fff;
}


dl.striped > dt:nth-of-type(odd), dl.striped > dd:nth-of-type(odd) {
  background-color: rgba(0,0,0,.05) ;
}

dl.striped > dd {
  margin-bottom: 0 !important;
}

dl.striped > dt, dl.striped > dd {
  padding-top: 0.3em !important;
  padding-bottom: 0.3em !important;
}

@media (min-width: 576px) {
  #taxonomy-modal .card-body .col-sm-4 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 768px) {
  #taxonomy-modal .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

#taxonomy-modal .panel-vocabulary-description, #taxonomy-modal .panel-taxonomy-description {
  display: none;
}

.datepicker table tr td span {
  display: block;
  width: 67%;

  cursor: pointer;

  white-space: nowrap;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) {
  .datepicker {
    max-width: 100% !important;
  }
}

@media (min-width: 1025px) {
  .datepicker {
    max-width: 50% !important;
  }
}

#categoricalSummary .table td {
  padding: 0.2rem 0.5rem;
}

#categoricalSummary .table th {
  padding: 0.2rem 0.5rem;
}

.accordion .card-header > button:after {
  font-family: 'FontAwesomeFree';
  content: "\f067";
  float: right;
}

.accordion .card-header:hover {
  background-color: rgba(0,0,0,.05);
}

.accordion .card-header > button[aria-expanded="true"]:after {
  content: "\f068";
}